/* Tambahkan ini di bagian paling bawah file style.css Anda */
.hidden-force {
    display: none !important;
}

.flex-force {
    display: flex !important;
}

.block-force {
    display: block !important;
}